{%- macro makeoutput(outdict) -%}
  {%- for key, value in outdict|dictsort -%}
  {{ output(key, value) }}  
  {%- endfor %}
{%- endmacro -%}

{%- macro output(key, value, spaces=0) -%}
  {%- set shift = spaces * " " %}
  {%- if value is mapping %}
    {{ shift }}{{ key }} = {
    {%- for key, value in value|dictsort -%}
    {{ output(key, value, spaces=spaces+4) }}
    {%- endfor %}
    {{ shift }}}
  {%- elif value is string or value is number %}
    {{ shift }}{{ key }} = {{ value }}
  {%- else -%}
    {%- for value in value -%}
    {{ output(key, value, spaces=spaces) }}
    {%- endfor %}
  {%- endif %}
{%- endmacro -%}

# file managed by salt
{%- set kerberos = pillar.get('kerberos', {}) %}

[libdefaults]
  {%- set libdefaults = kerberos.get('libdefaults', {}) -%}
  {{ makeoutput(libdefaults) }}

[realms]
  {%- set realms = kerberos.get('realms', {}) -%}
  {{ makeoutput(realms) }}

[domain_realm]
  {%- set domain = kerberos.get('domain_realm', {}) -%}
  {{ makeoutput(domain) }}

[capaths]
  {%- set capaths = kerberos.get('capaths', {}) -%}
  {{ makeoutput(capaths) }}

[appdefaults]
  {%- set appdefaults = kerberos.get('appdefaults', {}) -%}
  {{ makeoutput(appdefaults) }}
